get_users:
    path:     /get
    methods:  [GET]
    defaults: { _controller: AdminWebMailBundle:User:getUsersJSON }

add_users:
    path:     /add
    methods:  [POST]
    defaults: { _controller: AdminWebMailBundle:User:addUser }

update_email_users:
    path:     /update/email
    methods:  [PUT]
    defaults: { _controller: AdminWebMailBundle:User:updateEmailUser }

update_domain_users:
    path:     /update/domain
    methods:  [PUT]
    defaults: { _controller: AdminWebMailBundle:User:getUsersJSON }

update_password_users:
    path:     /update/domain
    methods:  [PUT]
    defaults: { _controller: AdminWebMailBundle:User:getUsersJSON }

delete_users:
    path:     /delete
    methods:  [DELETE]
    defaults: { _controller: AdminWebMailBundle:User:deleteUser }

